<layout id="widePlaylist" skinPath="http://localhost/KDP_Blue6.swf" isPlaylist="true">
  <HBox id="topLevel" width="100%" height="100%">
    <VBox id="player" width="100%" height="100%" styleName="black">
      <Plugin id="kalturaMix" width="0%" height="0%" includeInLayout="false" loadingPolicy="onDemand"/>
      <Plugin id="statistics" width="0%" height="0%"/>
      <Plugin id="relatedEntries" width="0%" height="0%" sourceType="automatic" autoPlay="true" autoPlayDelay="10" automaticPlaylistId="1_z8himhzv" sourceData="1_utvuutg5,1_9hpy3pxo,1_syjn48lk" entryId="{mediaProxy.entry.id}"/> 
      <Canvas height="100%" width="100%" id="PlayerHolder" styleName="black">
        <Video id="video" width="100%" height="100%"/>
        <Screens id="screensLayer" width="100%" height="100%" mouseOverTarget="{PlayerHolder}" styleName="clickThrough" startScreenId="startScreen" startScreenOverId="startScreen" pauseScreenOverId="pauseScreen" pauseScreenId="pauseScreen" playScreenOverId="playScreen" endScreenId="endScreen" endScreenOverId="endScreen"/>
        
        <VBox id="relatedView" horizontalAlign="center" verticalAlign="middle" width="100%" height="100%" visible="{relatedView.visible}" includeInLayout="{relatedView.visible}" styleName="black">
	        <VBox id="relatedVBox" width="100%" height="100%" maxWidth="800" maxHeight="600" paddingLeft="13" paddingRight="13" paddingBottom="5" verticalGap="30" styleName="black">
		      	<HBox id="upNextHbox" visible="{not(layoutProxy.isInFullScreen)}" includeInLayout="{not(layoutProxy.isInFullScreen)}" width="100%" height="30" paddingTop="10" horizontalGap="0" verticalAlign="bottom">
			      	<Label id="upNextLabel" visible="{relatedEntries.autoPlay}" text="Up next in" width="63" styleName="Related_Text_UpNext"/>
			      	<Label id="upNextTime" visible="{relatedEntries.autoPlay}" text="{relatedEntries.timeRemaining}" width="15" styleName="Related_Text_Number"/>
			      	<Label id="upNextLabel2" visible="{relatedEntries.autoPlay}" text="secs" width="32" styleName="Related_Text_UpNext"/>
		      		<HBox width="63" height="100%" visible="{relatedEntries.autoPlay}" paddingLeft="0" >
		      			<Button id="pauseRelatedBtn" width="30" height="100%" label="Pause" visible="{relatedEntries.isTimerRunning}" includeInLayout="{relatedEntries.isTimerRunning}" kClick="sendNotification('pauseResumeRelatedTimer')" buttonType="labelButton"  color1="0xCECECE" color2="0xFFFFFF" font="Arial" />
		      			<Button id="playRelatedBtn" width="63" height="100%" visible="{not(relatedEntries.isTimerRunning)}" includeInLayout="{not(relatedEntries.isTimerRunning)}" label="Continue" kClick="sendNotification('pauseResumeRelatedTimer')" buttonType="labelButton" color1="0xCECECE" color2="0xFFFFFF" font="Arial"/>
		      		</HBox>
		      		
		      		<HBox width="100%" height="100%" verticalAlign="middle" horizontalAlign="right" horizontalGap="5">
			      		<Button id="replayOnRelatedScreen" kClick="sendNotification('doSeek','0');sendNotification('doPlay')" label="Replay" labelPlacement="right" textPadding="5" minWidth="80" visible="{relatedView.showReplayBtn}"
			      			icon="replayIcon_Up" upIcon="replayIcon_Up" overIcon="replayIcon_Hover" downIcon="replayIcon_Down" disabeledIcon="replayIcon_Disabled"/>
			      		<Button id="shareOnRelatedWithAutoPlay" visible="{and(relatedEntries.autoPlay,relatedEntries.isTimerRunning)}" includeInLayout="{shareOnRelatedWithAutoPlay.visible}" kClick="sendNotification ('pauseResumeRelatedTimer');sendNotification('doGigya')" textPadding="5" label="Share" labelPlacement="right" minWidth="80"
			      			icon="shareIcon_Up" upIcon="shareIcon_Up" overIcon="shareIcon_Hover" downIcon="shareIcon_Down" disabeledIcon="shareIcon_Disabled"/>
			      		<Button id="shareOnRelated" visible="{not(shareOnRelatedWithAutoPlay.visible)}" includeInLayout="{shareOnRelated.visible}" kClick="sendNotification('doGigya')" label="Share" textPadding="5" labelPlacement="right" minWidth="80"
			      			icon="shareIcon_Up" upIcon="shareIcon_Up" overIcon="shareIcon_Hover" downIcon="shareIcon_Down" disabeledIcon="shareIcon_Disabled"/>
		      		</HBox>
		      	</HBox>

		      	<HBox id="upNextHboxFullScreen" visible="{layoutProxy.isInFullScreen}" includeInLayout="{layoutProxy.isInFullScreen}" width="100%" height="30" paddingTop="10" horizontalGap="0">
			      	<Label id="upNextLabel" visible="{relatedEntries.autoPlay}" text="BLABLABLA" width="63" styleName="Related_Text_UpNext"/>
			      	<Label id="upNextTime" visible="{relatedEntries.autoPlay}" text="{relatedEntries.timeRemaining}" width="15" styleName="Related_Text_Number"/>
			      	<Label id="upNextLabel2" visible="{relatedEntries.autoPlay}" text="secs" width="32" styleName="Related_Text_UpNext"/>
		      		
		      	</HBox>
				<Plugin id="relatedView" visible="false" width="100%" height="100%" dataProvider="{relatedEntries.dataProvider}" itemRenderer="relatedItemRenderer" viewType="tile"/> 
	        </VBox>
        </VBox>
      
        <Plugin id="gigya" width="100%" height="100%"/>
      </Canvas>
     <!-- this is the controllers box -->
	<VBox id="ControllerScreenHolder" width="100%" height="80" verticalAlign="middle" paddingLeft="5" paddingTop="8" styleName="PlayerBg">
	
		<!-- scrubber box. the scrubber and 2 timers -->
		<HBox width="100%" height="25" verticalAlign="middle" paddingRight="8">
	        <Timer id="timerControllerScreen1" width="50" styleName="timerProgressLeft" format="mm:ss" height="24" timerType="forwards"/>
			<Label id="label" text="/" width="10" color1="0xFFFFFF" dynamicColor="true" styleName="timerProgressRight"/>
			<Timer id="timerControllerScreen2" width="50" styleName="timerProgressRight" format="mm:ss" height="24" timerType="total"/>
	        <VBox width="100%" height="100%" paddingLeft="8" paddingRight="8">
		        <Scrubber id="scrubber" width="100%" height="100%"/>
	        </VBox>
	    	<Button id="kalturaLogo" height="30" minWidth="50" kClick="sendNotification('showHideRelated')" styleName="controllerScreen" icon="kalturaLogo"/>
        </HBox>

		 <HBox id="ControllerScreen" width="100%" height="40" horizontalGap="9" paddingBottom="8" verticalAlign="middle" styleName="PlayerBg">
			<Button id="playBtnControllerScreen" width="20" height="30" command="play" icon="playIcon_up" upIcon="playIcon_up" overIcon="playIcon_Hover" downIcon="playIcon_Down" disabeledIcon="playIcon_Disabled" selectedUpIcon="pauseIcon_Up" selectedOverIcon="pauseIcon_Hover" selectedDownIcon="pauseIcon_Down" selectedDisabledIcon="pauseIcon_Disabled"/>
			
			
		
			<Spacer width="100%"/>
			
			
			
			
			<Button id="shareBtnControllerScreen" kClick="sendNotification('doGigya')" height="30" width="20" focusRectPadding="0" styleName="controllerScreen" tooltip="share with friends" icon="shareIcon_Up" upIcon="shareIcon_Up" overIcon="shareIcon_Hover" downIcon="shareIcon_Down" disabeledIcon="shareIcon_Disabled"/>
			

			<FlavorCombo id="flavorComboControllerScreen" width="80" height="40" 
									 streamerType="{configProxy.flashvars.streamerType}"
									 flavorDataProvider="{mediaProxy.kalturaMediaFlavorArray}" styleName="_kdp"
									  hdOn="HD On" hdOff="HD Off" selectedMessage=""
									 autoMessage="Automatically switches between bitrates"
									 preferedFlavorBR="{mediaProxy.preferedFlavorBR}"
									 tooltip="{flavorComboControllerScreen.selectedMessage}"
									 usePixels="{mediaProxy.displayFlavorPixels}"/>
		   
		   <!-- volume controller: mute/unmute and volume bar  -->
			<VolumeBar id="volumeBar" width="30" height="30" icon="VolumeIcon_Up" buttonUpSkin="VolumeIcon_Up" styleName="controllerScreen" buttonOverSkin="VolumeIcon_Hover" buttonDownSkin="VolumeIcon_Down" buttonDisabledSkin="VolumeIcon_Disabled" buttonSelectedUpSkin="MuteIcon_up" buttonSelectedOverSkin="MuteIcon_Hover" buttonSelectedDownSkin="MuteIcon_Down" buttonSelectedDisabledSkin="MuteIcon_Disabled"/>

			<!-- toggle fullscreen mode button  -->
			 <Button id="fullScreenBtnControllerScreen" command="fullScreen" height="30" width="20" styleName="controllerScreen"  icon="closeFullScreenIcon_Up" upIcon="closeFullScreenIcon_Up" overIcon="closeFullScreenIcon_Hover" downIcon="closeFullScreenIcon_Down" disabeledIcon="closeFullScreenIcon_Down"
			  selectedUpIcon="openFullScreenIcon_Up" selectedOverIcon="openFullScreenIcon_Hover" selectedDownIcon="openFullScreenIcon_Down" selectedDisabledIcon="openFullScreenIcon_Disabled"/>
		
		
		
		</HBox>
	</VBox>
    </VBox>

  </HBox>
  <screens>
    <screen id="startScreen">
      <VBox id="startContainer" width="100%" height="100%" verticalAlign="middle" horizontalAlign="center">
        <Spacer width="100%"/>
        <Tile id="startTile" width="100%" verticalGap="10" verticalAlign="middle" horizontalAlign="center">
         <Button id="onVideoPlayBtnStartScreen" command="play" minWidth="80" minHeight="80" labelPlacement="bottom" label="Play" styleName="onScreenBtn" upIcon="OnVideo_playIcon_Up" overIcon="OnVideo_playIcon_Hover" downIcon="OnVideo_playIcon_Down" disabeledIcon="OnVideo_playIcon_Disabled" />
		<Button id="shareBtnStartScreen" kClick="sendNotification('doGigya')"  minWidth="80" minHeight="80" labelPlacement="bottom" label="Share" styleName="onScreenBtn" icon="OnVideo_shareIcon_Up" upIcon="OnVideo_shareIcon_Up" overIcon="OnVideo_shareIcon_Hover" downIcon="OnVideo_shareIcon_Down" disabeledIcon="OnVideo_shareIcon_Disabled"/>
        </Tile>
        <Spacer width="100%"/>
      </VBox>
    </screen>
    <screen id="pauseScreen">
      <VBox id="pauseContainer" width="100%" height="100%" verticalAlign="middle" horizontalAlign="center">
        <Spacer height="100%"/>
        <Tile id="startTile" width="100%" verticalGap="10" verticalAlign="middle" horizontalAlign="center">
  
		 <Button id="onVideoPlayBtnPauseScreen" command="play" minWidth="80" minHeight="80" labelPlacement="bottom" label="Play" styleName="onScreenBtn" upIcon="OnVideo_playIcon_Up" overIcon="OnVideo_playIcon_Hover" downIcon="OnVideo_playIcon_Down" disabeledIcon="OnVideo_playIcon_Disabled" />
		<Button id="shareBtnPauseScreen" kClick="sendNotification('doGigya')"  minWidth="80" minHeight="80" labelPlacement="bottom" label="Share" styleName="onScreenBtn" icon="OnVideo_shareIcon_Up" upIcon="OnVideo_shareIcon_Up" overIcon="OnVideo_shareIcon_Hover" downIcon="OnVideo_shareIcon_Down" disabeledIcon="OnVideo_shareIcon_Disabled"/>
        </Tile>
        <Spacer height="100%"/>
      </VBox>
    </screen>
    <screen id="playScreen">
      <VBox id="playContainer" width="100%" height="100%" verticalAlign="middle" horizontalAlign="center">
        <Spacer height="100%"/>
        <Tile id="startTile" width="100%" verticalGap="10" verticalAlign="middle" horizontalAlign="center">
		  <Button id="shareBtnPlayScreen" kClick="sendNotification('doGigya')"  minWidth="80" minHeight="80" labelPlacement="bottom" label="Share" styleName="onScreenBtn" icon="OnVideo_shareIcon_Up" upIcon="OnVideo_shareIcon_Up" overIcon="OnVideo_shareIcon_Hover" downIcon="OnVideo_shareIcon_Down" disabeledIcon="OnVideo_shareIcon_Disabled"/>
        </Tile>
        <Spacer height="100%"/>
      </VBox>
    </screen>
    <screen id="endScreen">
      <VBox id="startContainer" width="100%" height="100%" verticalAlign="middle" horizontalAlign="center">
        <Spacer height="100%"/>
        <Tile id="startTile" width="100%" verticalGap="10" verticalAlign="middle" horizontalAlign="center">
         <Button id="replayBtnEndScreen" kClick="sendNotification('doSeek','0');sendNotification('doPlay')" minWidth="90" minHeight="90" labelPlacement="bottom" label="Replay" styleName="onScreenBtn" upIcon="replayIcon_Up" overIcon="replayIcon_Up" downIcon="replayIcon_Down" disabeledIcon="replayIcon_Disabled"/>
		  <Button id="shareBtnEndScreen" kClick="sendNotification('doGigya')"  minWidth="80" minHeight="80" labelPlacement="bottom" label="Share" styleName="onScreenBtn" icon="OnVideo_shareIcon_Up" upIcon="OnVideo_shareIcon_Up" overIcon="OnVideo_shareIcon_Hover" downIcon="OnVideo_shareIcon_Down" disabeledIcon="OnVideo_shareIcon_Disabled"/>
        </Tile>
        <Spacer height="100%"/>
      </VBox>
    </screen>
  </screens>
  <renderers>
    <renderer id="relatedItemRenderer">
		<VBox id="relatedIR" width="98%" height="98%" verticalAlign="middle" horizontalAlign="center">
			<Canvas id="relatedCanvas" styleName="black" width="100%" height="100%">
				<Image id="relatedImage" width="98%" height="98%" url="{this.entry.thumbnailUrl}"/>	
				<VBox id="relatedVBox" width="98%" height="98%" visible="{not(this.isOver)}" styleName="TileUp"/>
				<VBox id="upNextVBox" width="98%" height="98%" visible="{this.isUpNext}" styleName="TileSelected"/>
	
				<VBox id="relatedHoverBox" width="98%" height="98%" visible="{this.isOver}" styleName="TileSelected" >
					<Spacer height="5"/>
					<Text id="relatedHoverNameAndDesc" height="30%" width="100%" text="{this.entry.name}"  styleName="Tile_itemOver_Title"/>
					<Text id="relatedHoverUserId" height="30%" width="100%" text="{this.entry.userId}"  styleName="Tile_itemOver_Title"/>
					<HBox width="100%" height="30" paddingRight="15">
					 <Label id="relatedDurationIrScreen" height="18" width="40" text="{formatDate(this.entry.duration, 'NN:SS')}" styleName="Tile_itemOver_duration"/>
					 <Spacer width="100%"/>
					 <Button icon="Tile_itemOver_icon"/>
					</HBox>
				</VBox>		
			</Canvas>
		</VBox>
	</renderer>
  </renderers>
  <strings>
  </strings>
  <extraData>
    <GigyaUI theme="dark">
      <config>
        <display showEmail="true" useTransitions="true" showBookmark="true" codeBoxHeight="auto" showCodeBox="true" showCloseButton="true" networksWithCodeBox="" networksToHide="livespaces, piczo, orkut, pageflakes, vox, tagged, hi5, wordpress, multiply" networksToShow="myspace, facebook, bebo, blogger, freewebs, livejournal, blackplanet, myyearbook, typepad, xanga, igoogle, netvibes, migente, friendster" bookmarksToShow="googlebookmarks,delicious,digg,facebookshare,newsvine,reddit,twitter,ask,myaol,slashdot,skimbit,simpy,blogmarks,spurl,linkagogo,Magnolia,faves,segnalo,netvouz,blinklist,dropjack,feedmelinks"/>
        <body>
          <background frame-color="#BFBFBF" background-color="#292929" frame-thickness="0" gradient-color-begin="#292929" gradient-color-end="#292929" corner-roundness="0;0;0;0"/>
          <controls corner-roundness="4;4;4;4" gradient-color-begin="#EAEAEA" gradient-color-end="#F4F4F4" bold="false">
            <snbuttons type="textUnder" frame-color="#666666" background-color="#292929" over-frame-color="#FFFFFF" color="#BFBFBF" gradient-color-begin="#666666" gradient-color-end="Transparent" size="10" bold="false" down-frame-color="#666666" down-gradient-color-begin="Transparent" over-gradient-color-end="#ffffff" down-gradient-color-end="#666666" over-color="#ffffff" down-color="#ffffff" over-bold="false">
              <more frame-color="#A4DBFF" over-frame-color="#A4DBFF" gradient-color-begin="#F4F4F4" gradient-color-end="#BBE4FF" over-gradient-color-begin="#A4DBFF" over-gradient-color-end="#F4F4F4"/>
              <previous frame-color="#BBE4FF" over-frame-color="#A4DBFF" gradient-color-begin="#FFFFFF" gradient-color-end="#A4DBFF" over-gradient-color-begin="#A4DBFF" over-gradient-color-end="#F4F4F4"/>
            </snbuttons>
            <textboxes frame-color="#CACACA" background-color="#292929" color="#757575" gradient-color-begin="#292929" gradient-color-end="#292929" bold="false">
              <codeboxes color="#808080" frame-color="#6A6A6A" background-color="#606060" gradient-color-begin="Transparent" gradient-color-end="Transparent" size="10"/>
              <inputs frame-color="#6a6a6a" color="#808080" gradient-color-begin="Transparent" gradient-color-end="Transparent"/>
              <dropdowns list-item-over-color="#52A4DA" frame-color="#6a6a6a" background-color="#292929" color="#808080" gradient-color-begin="#292929" gradient-color-end="#292929"/>
            </textboxes>
            <buttons frame-color="#6a6a6a" background-color="Transparent" gradient-color-begin="#666666" gradient-color-end="Transparent" color="#FFFFFF" frame-thickness="1" size="12" bold="false" over-frame-color="#FFFFFF" down-frame-color="#6a6a6a" over-gradient-color-begin="#666666" down-gradient-color-begin="Transparent" over-gradient-color-end="#353535" down-gradient-color-end="Transparent" over-size="12" over-bold="false">
              <post-buttons frame-color="#6a6a6a" gradient-color-end="Transparent"/>
            </buttons>
            <listboxes frame-color="#CACACA" corner-roundness="4;4;4;4" gradient-color-begin="#F4F4F4" gradient-color-end="#FFFFFF"/>
            <checkboxes checkmark-color="#FFFFC8" frame-color="#6a6a6a" down-gradient-color-begin="#292929" down-gradient-color-end="#292929" background-color="#292929" corner-roundness="3;3;3;3" gradient-color-begin="Transparent" gradient-color-end="Transparent" over-background-color="#292929" down-background-color="#292929"/>
            <servicemarker gradient-color-begin="Transparent" gradient-color-end="#666666"/>
            <tooltips frame-thickness="0" color="#292929" gradient-color-begin="#FFFFFF" gradient-color-end="#FFFFC8" size="10" frame-color="#FFDBA4"/>
          </controls>
          <texts color="808080">
            <privacy color="#808080"/>
            <headers color="#FFFFFF" bold="false"/>
            <labels color="#FFFFFF" bold="false"/>
            <messages color="#202020" background-color="#FFFFA4" frame-thickness="0" corner-roundness="4;4;4;4"/>
            <links color="#FFFFFF" underline="false" over-color="#666666" down-color="#666666" down-bold="false"/>
          </texts>
        </body>
      </config>
    </GigyaUI>
  </extraData>
  <uiVars>
    <var key="video.mantainAspectRatio" value="true"/>
    <!--var key="playlistAPI.autoContinue" value="false"/>
    <var key="playlistAPI.initItemEntryId" value="notexist"/-->
    <var key="pictureDefaultDuration" value="2"/>
    <var key="autoPlay" value="false"/>
    <var key="mute" value="false"/>
  </uiVars>
</layout>